emb/*
*.pyc
*.out
datasets/movielens_1m/old/*
datasets/movielens_1m/MyMediaLite_format/*
datasets/movielens_1m/chunks/*
clustering/*
benchmarks/*
features/*
ranking/feature_selection/*
ranking/models/*
ranking/results/*
predictions/*